# Dependencies
node_modules/
.pnp
.pnp.js
__pypackages__/

# Environment
.env
.env*.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Build and Distribution
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.eggs/
develop-eggs/
downloads/
parts/
sdist/
wheels/
share/python-wheels/

# Cache and Temporary Files
__pycache__/
*.py[cod]
*$py.class
.cache
.pytest_cache/
.ruff_cache/
.webassets-cache
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Compiled Files
*.so
*.manifest
*.spec
*.tsbuildinfo

# Database
*.sqlite
*.sqlite-journal
db.sqlite3
db.sqlite3-journal

# Next.js
.next/
out/
next-env.d.ts

# IDE and Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea/
.history/
.ionide/
*.vsix
.spyderproject
.spyproject
.ropeproject

# Testing and Coverage
coverage/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Logs and Debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
pip-log.txt
pip-delete-this-directory.txt

# Documentation
/site
docs/_build/

# Misc
.DS_Store
*.pem
*.pot
*.mo
.vercel
instance/*
!instance/.gitignore

# Poetry and Package Management
poetry.toml
poetry.lock
pyrightconfig.json
.pdm.toml
